body {
    color: white;
    background-color: #222222;
  }

.search {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  .search input {
    padding: 15px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 50px;
    text-align: center;
    width: 300px; 
  }
  
  .title {
      font-family: "돋움", "Dotum", tahoma;
      font-size: 48px;
      font-weight: bold;
      color: white;
      margin-bottom: 20px;
      display: flex;
      padding: 20px;
  }

  .footer {
    background-color: #cbd4d9;
    color: white;
    padding: 20px;
  }
