nav {
    background-color: #cbd4d9;
    padding: 10px;
    border-style: groove;
    border-color: black;
  }
  
.nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

.nav-ul li {
  margin-right: 20px;
  color: black
}
  
.custom-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #002f30;
    transition: background-color 0.3s;
    margin-right: 20px;
    border-style: solid;
    border-color: #222222
  }
  
.custom-link:hover {
  background-color: grey;
  }
